.single-product {
  #page {
    .article {
      width: 100%;
    }
  }

  .yith-wcwl-add-button,
  .yith-wcwl-wishlistexistsbrowse,
  .yith-wcwl-wishlistaddedbrowse {
    font-size: cre(16px);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px 0;

    .feedback {
      display: block;
    }
  }
}

.show-title-form {
  background-color: transparent!important;
  color: $m1;
}