.single-product {
  #page {
    article {
      width: 100%;
    }
  
    .sidebar {
      width: 100%;
      float: left;
    }

    @include breakpoint(900px) {
      article {
        width: 73%;
      }
    
      .sidebar {
        width: 20%;
        float: right;
      }
    }
  }

  .product_meta {
    font-size: cre(16px);
    border-top: 1px solid #ccc;
    margin-top: cre(30px);
    padding-top: cre(10px);

    span {
      display: block;
      padding: 5px 0;
    }
  }


}

.show-title-form {
  background-color: transparent!important;
  color: $m1;
}

.woocommerce-product-gallery {
  .flex-control-thumbs {
    li {
      margin-bottom: cre(5px)!important;
    }
  }
}