.custom-cart {

  article {

    > header {
      float: none;
      background-image: url('images/shop-banner-fashion.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: cre(60px);
      padding: cre(40px) 0;
      text-align: left;

      .container {
        padding-left: cre(20px);
        padding-right: cre(20px);
      }
  
      .entry-title {
        margin: 0;
      }
    }
  }

  .woocommerce {
    display: flex;
    flex-flow: column;
    max-width: cre(1180px);
    margin-left: auto;
    margin-right: auto;
    padding-left: cre(20px);
    padding-right: cre(20px);

    @include breakpoint(1100px) {
      flex-flow: row wrap;
      justify-content: space-between;
    }

    .woocommerce-notices-wrapper {
      width: 100%;
    }

    .woocommerce-cart-form {
      width: 100%;

      @include breakpoint(1100px) {
        width: calc(100% - 450px);
      }

      .shop_table {
        border: 0;

        th {
          background-color: $m4;
        }

        td {
          border: 0;
          background-color: $m6;

          &.actions {
            background-color: white;
            border-top: 1px solid $m1;
          }
        }
      }
    }

    .cart-collaterals {
      width: 100%;

      @include breakpoint(1100px) {
        width: cre(420px);
      }

      // @include breakpoint(900px) {
      //   width: 25%;
      // }

      .cart_totals {
        width: 100%;

        h2 {
          font-size: 0;
          color: transparent;
          margin: 0;
        }

        .shop_table {
          border: 0;

          th {
            font-weight: 400;
            border: 0;
            background-color: $m4;
          }

          td {
            border: 0;
            background-color: $m5;
          }

          .shipping_method {
            margin-bottom: cre(20px);
          }
        } // .shop_table

        .woocommerce-shipping-destination {
          border-top: 1px solid $m1;
          padding-top: cre(9px);
        }
      } // .cart_totals
    }
  }
}

// Checkout page
// ============================================
.woocommerce-checkout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#order_review,
#customer_details {
  width: 48%;
}

#order_review {

  h3 {
    margin-bottom: cre(30px);
  }
}

// Custom Cart in Menu
// ============================================
// .custom-menu-cart {

// }