.pagination a,
.pagination .page-numbers.dots,
.woocommerce nav.woocommerce-pagination ul li a {
  font-size: cre(20px);
}

.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current {
  font-size: cre(20px)!important;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  margin-bottom: cre(40px);
}

.woocommerce-account .woocommerce-MyAccount-content {
  width: 100%!important;

  @include breakpoint(600px) {
    width: 70%!important;
  }
}

// Layout
// =====================================
.post-type-archive-product {
  article {
    width: 100%!important;
  }

  .sidebar {
    width: 100%!important;
    float: left!important;
  }

  @include breakpoint(900px) {
    article {
      width: 73%!important;
    }
  
    .sidebar {
      width: 20%!important;
      float: right!important;
    }
  }
}