$font-icon: 'IcoMoon' !default;

// Colour Palette
$m1: #20303c!default;
$m2:  #96588a!default; // #a749ff
$m3: #069!default;
$m4: #e8e8e8!default;
$m5: #f0f1f2!default;
$m6: #fbfbfb!default;
$m7: #f2f2f2!default; // breadcrumb and banner