.custom-breadcrumb {
  background-color: #f2f2f2;
  padding-top: cre(15px);
  padding-bottom: cre(15px);
}

.woocommerce .woocommerce-breadcrumb {
  font-size: 0.75em!important;
  margin-bottom: 0!important;
}