#primary-navigation {
  .navigation {
    .menu {
      display: flex;
    }
  }
}

#shop-navigation {
  .shop-menu {
    display: flex;

    li {
      font-size: cre(16px);
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  a {
    color: $m1;

    &:focus,
    &:hover {
      color: $m2;
    }
  }

  .wpmenucart-contents {
    font-weight: bold;
    color: rgb(227, 86, 64);
  }
}

.woo-icon {
  font-size: 0;

  .fa {
    font-size: cre(20px);
  }
}